.header {
  height: 124px;
}

.nav_menu {
  width: 1232px;
  height: 56px;
  left: 104px;
  top: 32px;
}

.logo {
  background-color: black;
  position: absolute;
  width: 135px;
  height: 56px;
  left: 104px;
  top: 32px;
}

.interaction {
  position: absolute;
  width: 618px;
  height: 19px;
  left: 327px;
  top: 51px;
}
.btn-home {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #ffffff;
}
.btn-explore {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #ffffff;
}
.btn-showroom {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #ffffff;
}
.btn-credit-simulation {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #ffffff;
}
.btn-contact-us {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #ffffff;
}
.btn-page {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #ffffff;
}

.Add-Item {
  cursor: pointer;
  background-color: #fa3c45;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;

  position: relative;
  width: 158px;
  height: 47px;
  left: 1178px;
  top: 36px;
}

.pink-circle {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1106px;
  top: 41px;
}

.Explore {
  display: flex;
  justify-content: center;
}

.explore-background {
  background-color: black;
  height: 600px;
  width: 1580;
}

.car {
  position: absolute;
  width: 512.64px;
  height: 29px;
  left: 95px;
  top: 100px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  font-size: 24px;
  color: #ffffff;
}
.model {
  position: absolute;
  width: 512.64px;
  height: 29px;
  left: 95px;
  top: 130px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}

.mileage-name {
  position: absolute;
  width: 59.96px;
  height: 57px;
  top: 360px;
  left: 182px;
  color: #ffffff;
}
.mileage-number {
  position: absolute;
  width: 59.96px;
  height: 57px;
  top: 390px;
  left: 182px;
  color: #ffffff;
}

.engine-name {
  position: absolute;
  width: 59.96px;
  height: 57px;
  top: 360px;
  left: 300px;
  color: #ffffff;
}

.engine-number {
  position: absolute;
  width: 59.96px;
  height: 57px;
  top: 390px;
  left: 300px;
  color: #ffffff;
}

.fuel-economy {
  position: absolute;
  width: 59.96px;
  height: 57px;
  top: 345px;
  left: 400px;
  color: #ffffff;
}

.fuel-number {
  position: absolute;
  width: 59.96px;
  height: 57px;
  top: 390px;
  left: 400px;
  color: #ffffff;
}

.buy-now {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;

  position: absolute;
  width: 127.91px;
  height: 56px;
  left: 182.93px;
  top: 511px;
  background: #fa3c45;
  border-radius: 8px;
  border: none;
  color: #ffffff;
}

#brand {
  position: absolute;
  width: 463.68px;
  height: 56px;
  left: 152.89px;
  top: 724px;
  border-radius: 8px;
}

.brand-select {
  position: absolute;
  width: 147.9px;
  height: 29px;
  left: 320px;
  top: 735px;
  font-size: 24px;
}

#select-model {
  position: absolute;
  width: 463.68px;
  height: 56px;
  left: 720px;
  top: 724px;
  border-radius: 8px;
}

.model-select {
  position: absolute;
  width: 148px;
  height: 29px;
  left: 890px;
  top: 735px;
  font-size: 24px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;

  position: absolute;
  width: 127.91px;
  height: 56px;
  left: 1250px;
  top: 725px;
  color: #ffffff;
  background: #fa3c45;
  border-radius: 8px;
  border: none;
}

.our-collection-word {
  position: absolute;
  width: 420px;
  height: 74px;
  left: 104px;
  top: 1020px;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  color: #11142d;
}

.container-card-model-sx {
  position: absolute;
  width: 816px;
  height: 400px;
  left: 104px;
  top: 1131px;
  background: #c5010a;
  opacity: 0.8;
}

.card-esemka {
  position: absolute;
  width: 91px;
  height: 22px;
  left: 40px;
  top: 120px;
  color: #fde5e6;
  font-size: 16px;
}
.card-model {
  position: absolute;
  width: 216px;
  height: 32px;
  left: 40px;
  top: 150px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
}
.card-2000 {
  position: absolute;
  width: 44px;
  height: 22px;
  left: 50px;
  top: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fde5e6;
}
.card-electric {
  position: absolute;
  width: 59px;
  height: 22px;
  left: 140px;
  top: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fde5e6;
}
.card-automatic {
  position: absolute;
  width: 80px;
  height: 22px;
  left: 250px;
  top: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fde5e6;
}

.img-jetta {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 936px;
  top: 1131px;
}
.img-mercedes {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 104px;
  top: 1547px;
}

.img-bmwi8 {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 520px;
  top: 1547px;
}
.img-audiA8 {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 936px;
  top: 1547px;
}

.general-info-img {
  position: absolute;
  width: 608px;
  height: 544px;
  left: 104px;
  top: 2147px;
}

.general-info-text-experiences {
  position: absolute;
  width: 568px;
  height: 174px;
  left: 800px;
  top: 2200px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}
.general-info-text-develop {
  position: absolute;
  width: 544px;
  height: 38px;
  left: 800px;
  top: 2400px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #9a9ab0;
}

.general-info-numbers-1000P {
  position: absolute;
  width: 145px;
  height: 58px;
  left: 800px;
  top: 2528px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #fa3c45;
}
.general-info-numbers-CarsSold {
  position: absolute;
  width: 136px;
  height: 19px;
  left: 800px;
  top: 2602px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fa3c45;
}

.general-info-numbers-235 {
  position: absolute;
  width: 96px;
  height: 58px;
  left: 1000px;
  top: 2528px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #9a9ab0;
}

.general-info-numbers-Customers {
  position: absolute;
  left: 1000px;
  top: 2602px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #9a9ab0;
}

.general-info-numbers-1100 {
  position: absolute;
  left: 1200px;
  top: 2528px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #9a9ab0;
}
.general-info-numbers-DealerReviews {
  position: absolute;
  left: 1200px;
  top: 2602px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #9a9ab0;
}

.choose-us-background {
  position: absolute;
  width: 1600px;
  height: 880px;
  left: 0px;
  top: 2891px;
  background: #c5010a;
}

.choose-us-img-example {
  position: absolute;
  width: 608px;
  height: 608px;
  left: 728px;
  top: 3027px;
}

.main-text {
  position: absolute;
  width: 389px;
  height: 58px;
  left: 104px;
  top: 3027px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}
.below-main-text {
  position: absolute;
  width: 427px;
  height: 48px;
  left: 104px;
  top: 3117px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}
.placeholder-1 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 104px;
  top: 3237px;
}
.placeholder-2 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 104px;
  top: 3373px;
}
.placeholder-3 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 104px;
  top: 3509px;
}

.choose-us-experience {
  position: absolute;
  width: 367px;
  height: 29px;
  left: 176px;
  top: 3237px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.choose-us-convenience {
  position: absolute;
  width: 371px;
  height: 38px;
  left: 176px;
  top: 3282px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.choose-us-trust {
  position: absolute;
  width: 251px;
  height: 29px;
  left: 176px;
  top: 3373px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.choose-us-help {
  position: absolute;
  width: 410px;
  height: 38px;
  left: 176px;
  top: 3418px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.choose-us-range {
  position: absolute;
  width: 251px;
  height: 29px;
  left: 176px;
  top: 3509px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.choose-us-customizable {
  position: absolute;
  width: 400px;
  height: 38px;
  left: 176px;
  top: 3554px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}
